<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017-2019 <a href="https://www.jd.com">共享平台</a>.</strong> All rights
    reserved.
</footer>
