<div class="row">
    <div class="col-md-6">
        <div class="box box-danger">
            $!{testCase.requestParams}
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-danger">
            $!{testCase.responseParams}
        </div>
    </div>
</div>